#result-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.1rem;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

#result-table td {
  border: 1px solid #ccc;
  padding: 8px 14px;
}

#result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#result-table tr td:first-child {
  font-weight: bold;
  text-align: left;
}
